body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: gray;
  padding: 1em;
}

code,
pre {
  font-family: "Fira Code", monospace !important;
  line-height: 1.6em !important;
  font-size: 0.92em !important;
  margin: 0;
  padding: 0;
}

.coding {
  border-radius: 6px !important;
  margin: 0 !important;
}

.copy-to-clipboard {
  cursor: pointer;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(92, 92, 92);
  border: none;
  margin-right: 10px;
  font-size: 0.7em;
  line-height: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.copy-to-clipboard * {
  vertical-align: bottom;
  display: inline-block;
}

.copy-to-clipboard svg {
  width: 16px;
}

.code-dark {
  background: #2f2f2f;
  border-radius: 6px;
}

.code-light {
  background: #fafafa;
  border-radius: 6px;
}

.code-filename {
  flex: 1;
  padding: 10px;
}

.code-filename span,
.code-filename a {
  color: rgb(117, 117, 117);
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Fira Code", monospace;
}

.code-filename a {
  text-decoration: none;
  font-size: 0.9em;
}

.code-filename a:hover {
  text-decoration: underline;
}

.code-header {
  display: flex;
  justify-content: flex-end;
}

.code-description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1em;
}

.code-light .code-description {
  color: rgb(44, 44, 44);
}
.code-dark .code-description {
  color: rgb(182, 182, 182);
}
